<h1>Welcome to OutlookTest</h1>

<% if current_user %>
  <p>welcome, <%= current_user.name %></p>
  <%= link_to "check email", emails_path %>
<% else %>
  <%= link_to "Sign in with Microsoft", "/auth/microsoft_graph" %>
<% end %>